body{
    font-family: 'Times New Roman', Times, serif;
    background:url(gme.jpg );
    background-size: contain;
}
h1{
    color: aquamarine;
    position: absolute;
    font-size: xx-large;
    top: 15%;
    left: 33%;
}

h3{
color: azure;
position: absolute;
    top: 25%;
    left: 19%;
}
.card {
    position: absolute;
    top: 35%;
    left: 10%;
}
.button{
     position: relative;
     display: inline-flex;
     padding: 10px 30px;
     background: #363636;
     color: #fff;
     text-decoration: none;
     letter-spacing: 1px;
     overflow: hidden;
}
.button span{
    position: relative;
    z-index: 1;
}
.button::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50px,-50px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s,;
}
.button:hover::before{
    width: 300px;
    height: 300px;
}
